//
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title {
    font-size: 3rem;
  }

  /* Hero */
  #hero h1 {
    font-size: 7rem;
  }
  /* End Hero */

  #register .register{
    flex-direction:row ;
    .col-left{
      width: 60%;
      height: 400px;
      padding:0 100px;
    }
    .col-right{
      width: 40%;
      height: 450px;
      text-align: left;
      padding: 30px;
      padding: 30px 70px;
      margin-right: 50px;
      margin-left: 20px;
    }
  }


  /* About */
  #about .about {
    flex-direction: row;
  }
  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }
  #about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid $primary-color;
  }
  #about .col-right {
    text-align: left;
    padding: 30px;
  }
  #about .col-right h1 {
    text-align: left;
  }
  /* End About */
  /* About */
  #main .main {
    flex-direction: row;
  }
  #main .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }
  #main .about .col-left .main-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid $primary-color;
  }
  #main .col-right {
    text-align: left;
    padding: 30px;
  }
  #main .col-right h1 {
    text-align: left;
  }
  /* End About */
 #register .register{
   flex-direction: row;
 }



}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  /* header */
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1.8rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
  /* End header */

  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}
@media screen and (max-width: 500px) {
  .cta {
    font-size: 1.5rem;
    padding: 10px 30px;
  }
  h1.section-title {
    font-size: 2rem;
  }
  *{
    max-width: 100%;
  }
  #about, #main .col-right p {
    margin: 0 30px;
  }
  #header .hamburger {
    margin-right: 5px;
  }
  #register .col-right{
    padding: 15px 2px;
  }
  #register .col-left{
    padding: 20px 17px;
  }
}